<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
          <a class="navbar-brand" routerLink="">Mini E-Ticaret</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                  data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="">Anasayfa</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="products">Ürünler</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" routerLink="basket">Sepet</a>
              </li>
              <li class="nav-item">
                <a class="btn btn-outline-success" type="submit" aria-current="page" routerLink="admin">Yönetim Paneli</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
    </div>
    <div class="col-md-2"></div>
  </div>
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <router-outlet></router-outlet>
    </div>
    <div class="col-md-2"></div>
  </div>
  
  
  <!--<app-baskets></app-baskets>-->
  
  <div class="modal fade" id="basketModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl">
      <ng-template appDynamicLoadComponent></ng-template>
    </div>
  </div>

  <ngx-spinner name="s1" size="default" type="ball-atom"></ngx-spinner>
  <ngx-spinner name="s2" size="default" type="ball-scale-multiple"></ngx-spinner>
  <ngx-spinner name="s3" size="default" type="ball-spin-clockwise-fade-rotating"></ngx-spinner>